@charset "UTF-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  vertical-align: baseline;
  transition: all .2s ease-in-out;
}

*, body {
  font-family: 'Nunito Sans', Lato, sans-serif;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}


/*
  CSS vendor prefixes, also sometimes known as or CSS browser prefixes, are a
  way for browser makers to add support for new CSS features before those
  features are fully supported in all browsers. This may be done during a sort
  of testing and experimentation period where the browser manufacturer is
  determining exactly how these new CSS features will be implemented. These
  prefixes became very popular with the rise of CSS3 a few years ago
*/
h1, h2, div, p, a, li {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
