/* - - - - - - - - - - - - - - - - - - */
/* - Class 3 styles                  - */
/* - Andre Specht                    - */
/* - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - */
/* - Header                          - */
/* - - - - - - - - - - - - - - - - - - */

#my-header {
  background-color: red;
}

h1 {
  color: #fff;
}

p {
  font-size: 22px;
}

p.banana {
  color: #f90;
}

p.banana {
  color: green;
}

.second {
  color: blue;
}
